@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #fef9f2;
}

.btn {
  @apply py-1 px-4 rounded-2xl;
}

.btn:hover {
  @apply bg-orange-400;
}

.btn-light {
  @apply bg-orange-200 shadow-xl shadow-orange-400/40;
}

.btn-light:hover {
  @apply bg-orange-100;
}

.btn-dark {
  @apply bg-orange-400 shadow-xl shadow-orange-800/20;
}

.btn-dark:hover {
  @apply bg-orange-300;
}

.form {
  @apply bg-white flex flex-col rounded-2xl p-14 w-[500px] h-[525px];
  filter: drop-shadow(-5px 5px 8px #00000040);
}

.form-input {
  @apply border-[3px] border-black rounded-[10px] w-full h-[60px] mb-4 py-1 px-4 text-xl tracking-widest;
}

.btn-form {
  @apply w-[200px] h-[60px] rounded-full text-2xl mt-7;
}
